* {
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

/* Estilizando a scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Largura da scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #202020; /* Cor da parte que pode ser arrastada */
  border-radius: 6px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb:hover {
  background: #2e2e2e; /* Cor ao passar o mouse */
}

.central-title {
  text-align: center; /* Centraliza o texto */
  font-size: 2.5em; /* Tamanho da fonte */
  background: linear-gradient(90deg, #4ECB71, #ffffff); /* Degradê do verde ao vermelho */
  -webkit-background-clip: text; /* Aplica o degradê ao texto */
  background-clip: text; /* Adiciona a propriedade padrão para compatibilidade */
  -webkit-text-fill-color: transparent; /* Torna o preenchimento do texto transparente */
  text-shadow: 0 0 20px #4ECB71, 0 0 250px #4ECB71; /* Efeito de glow forte */
  margin: 20px 0; /* Margem superior e inferior */
}